In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/NASA_TechPort_20241110.csv')

In [4]:
df.describe()

         TechPort ID
count   16897.000000
mean    59910.170030
std     51360.946855
min      4191.000000
25%      8930.000000
50%     34465.000000
75%    102099.000000
max    157638.000000