In [2]:
import pandas as pd
import numpy as np

In [17]:
# df = pd.read_csv('/data/space-missions/space_missions.csv', encoding='latin1')
# print(df.head())
# Loaded here: https://www.kaggle.com/code/carlosmunozkampff/notebook831c35ceb1 and digested to this data:
# Data
data = {
    'Year': [1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
    'Number of Missions': [3, 28, 20, 39, 52, 82, 41, 60, 87, 101, 106, 103, 103, 107, 119, 99, 103, 98, 113, 113, 114, 97, 49, 55, 71, 67, 66, 69, 74, 62, 56, 59, 52, 80, 59, 62, 61, 64, 61, 60, 70, 68, 57, 57, 43, 49, 52, 40, 37, 49, 50, 48, 50, 37, 42, 38, 46, 53, 52, 90, 92, 117, 109, 119, 157, 93]
}

In [18]:

# Create DataFrame
missions_per_year = pd.DataFrame(data)

# Convert 'Year' to datetime and set as index
missions_per_year['datetime'] = pd.to_datetime(missions_per_year['Year'], format='%Y')
missions_per_year = missions_per_year.drop('Year', axis=1).set_index('datetime')

# Display the updated DataFrame
print(missions_per_year)

            Number of Missions
datetime
1957-01-01                   3
1958-01-01                  28
1959-01-01                  20
1960-01-01                  39
1961-01-01                  52
...                        ...
2018-01-01                 117
2019-01-01                 109
2020-01-01                 119
2021-01-01                 157
2022-01-01                  93

[66 rows x 1 columns]

In [11]:
missions_per_year.head()

   Year  Number of Missions
0  1957                   3
1  1958                  28
2  1959                  20
3  1960                  39
4  1961                  52